@charset "utf-8";
*{ margin:0; padding:0;}
html,body{ width:100%; height:100%;}
body{ position:relative;}
#map{ 
	position:absolute;
	left:0;right:0; top:0; bottom:0;
	margin:auto;
	border:1px solid #000;
	font-size: 0;
}
span{
	display: inline-block;
	border: 1px solid black;
	box-sizing: border-box;
}
span.snake{background: blue;}
span.food{background: orange;}

