body,html{ height: 100%; }
body{ color: #fff; background: #fff; }

/* header */
	header{ 
		width: 100%; height: 630px; 
		background:url("../images/headBg.jpg") no-repeat center center;
		background-size: cover;
		position: relative;
		margin-bottom: 50px;
	}
	.headeText{ 
		width: 500px; height: 200px;
		text-align: center;
		position: absolute; 
		left: 50%; top: 50%; 
		z-index: 1;
		margin-top: -100px; margin-left: -250px; 
	}
	.headeText h1{ 
		font-size: 4em;
		letter-spacing: 0.3em;
	}
	.headeText h2{
		font-size: 1.5em;
		margin: 20px 0;
	}
	.contact{ 
		width: 150px; height: 60px; 
		border: 1px solid #fff; 
		border-radius: 10px; 
		background: #ef7674; 
		font-size: 20px; 
		line-height: 60px; 
		color: #fff; 
		cursor: pointer;
	}

	.contact:hover{ background: rgba( 180,180,180,0 ); }
	.layer{ 
		width: 100%; height: 100%;
		position: absolute;
		left: 0; top: 0;
		z-index: 0;
		background: rgba(180,180,180,0.6); 
	}
/* header end */

/* rightMenu */
	#rightMenu{
		width: 100px; 
		position: fixed;
		right: 0; top: 200px;
		display: none;
		z-index: 20;
		background: #fff;
		box-shadow: 0 0 15px #fff;
	}
	#rightMenu li{
		width: 100%; height: 50px;
		line-height: 50px;
		text-align: center;
		border-bottom: 1px dashed #aaa;
	}
	#rightMenu li:last-child{
		border-bottom: none;
	}
	#rightMenu li a{
		font-size: 16px;
		color: #999;
		font-weight: bold;
	}
	#rightMenu li:hover{
		background: #f2f2f2;
	}
	#rightMenu li.sec{
		background: #f2f2f2;
	}
/* rightMenu end */

/* introduce */
	#introduce{ 
		width: 100%; height: 500px; 
		background: #f0f0d6;
		position: relative;
		margin-bottom: 50px;
	}
	.photo{
		width: 200px; height: 300px;
		position: absolute;
		left: 20%;
		top: 50%;
		margin-top: -160px;

	}
	.photo>img{ 
		width: 100%; height: 100%; 
		border-radius: 10px;
		box-shadow: 0 0 55px #777;
	}
	.introduceInfo{
		width: 60%; height: 100%;
		position: absolute;
		top: 0; right: 0;
	}
	.content{ 
		width: 60%; height: 80%;
		margin: 8% 10%;
		padding-left: 100px;
		color: #333;
		border-left: 1px dashed #aaa;
	}
	.content h1{
		font-size: 3em;
		line-height: 2em;
		font-weight: normal;
	}
	.bar{
		width: 0; height: 3px; 
		background: #f96c5c;
		transition: all 0.7s ease;
	}
	#introduce:hover .bar{
		width: 130px;
	}
	.content h2{
		font-size: 2.5em;
		line-height: 2em;
	}
	.content h3{
		font-size: 16px;
		font-weight: normal;
	}
	.content li{
		height: 30px;
		font-size: 14px;
		line-height: 30px;
	}
	.more{
		width: 230px; height: 50px;
		line-height: 50px;
		background: #caaf78;
		border: 2px solid #caaf78;
		color: #f2f2f2;
		font-size: 16px; 
		text-align: center;
		cursor: pointer;
		margin-top: 50px;
		transition: 0.5s ease;
	}
	.more:hover{
		background: #f0f0d6;
		color: #caaf78;
	}
/* introduce end */

/* skill */
	#skill{
		width: 100%; height: 750px;
		padding: 50px 0;
		color: #666;
		text-align: center;
	}
	#skill .bar{
		width: 70%;
		margin: 30px auto;
	}
	#skill>h1{
		font-size: 4em;
	}
	#skill>h2{
		font-size: 16px; 
		color: #999;
	}
	.skillContent{
		width: 55%;
		margin: 0 auto;
		padding: 60px 0;
		text-align: left;
	}
	.skillContent li{
		margin-top: 20px;
	}
	.skillContent li span{
		display: block;
		line-height: 30px;
		height: 10px; width: 0;
		background: #8ec493;
		border-radius: 3px;
		margin: 15px 28px;
		transition: all 0.7s ease;
	}
	#skill:hover .skillContent li:nth-of-type(1) span{
		width: 350px;
	}
	#skill:hover .skillContent li:nth-of-type(2) span{
		width:300px; 
	}
	#skill:hover .skillContent li:nth-child(3) span{
		width: 230px;
	}
	#skill:hover .skillContent li:nth-child(4) span{
		width: 390px;
	}
	#skill:hover .skillContent li:nth-child(5) span{
		width: 360px;
	}
	#skill:hover .skillContent li:nth-child(6) span{
		width: 300px;
	}
	#skill:hover .skillContent li:nth-child(7) span{
		width: 260px;
	}

/* skill end */

/* eduction */
	#eduction{ 
		width: 100%; height: 600px; 
		color: #333;
		background: #fbf9fa;
		padding: 70px 0;
		text-align: center;
		margin-bottom: 50px;
	}
	#eduction>h1{
		font-size: 4em;
	}
	#eduction .bar{
		width: 300px;
		margin: 20px auto;
	}
	#eduction>h2{
		font-size: 16px;
		color: #aaa;
	}
	.eductionContent{
		width: 800px; height: 400px;
		margin: 80px auto;
		color: #555;
	}
	.eduLeft{
		width: 20%; height: 100%;
		float: left;
		padding: 0 20px;
		border-right: 3px dashed #333;
		position: relative;
	}
	.eduLeft>h1{
		background: #555;
		color: #fff;
		width: 150px;
		line-height: 30px;
		margin: 0 auto;
	}
	.eduLeft>h1:nth-child(1){
		margin-bottom: 135px;
		background: #f07675;
	}
	.eduLeft .circle{
		display: block;
		width: 15px;height: 15px;
		border: 5px solid #333;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		right: -13px;
	}
	.eduLeft .circle1{
		top: 10px;
	}
	.eduLeft .circle2{
		top: 185px;
	}
	.eduRight{
		width: 74%; height: 100%;
		float: right;
		text-align: left;
	}
	.eduInfo{
		font-size: 12px;
		text-indent: 5em;
	}
	.eduInfo>h1,.eduInfo>h2{
		font-weight: normal;
	}
	.eduInfo1{
		margin-bottom: 120px;
	}
	.eduInfo1>h2{
		font-size: 14px;
		line-height: 35px;
	}
	.eduInfo2 li{
		height: 30px;
		line-height: 30px;
		font-size: 14px;
	}
/* eduction end*/

/* production */
	#production{
		width: 100%;
		background: #555;
		text-align: center;
		padding-top: 30px;
		margin-bottom: 50px;
	}
	#production>h1{
		font-size: 2.5em;
		line-height: 2em;
	}
	#production>h2{
		font-size: 14px;
		line-height: 5em;
		color: #f2f2f2;
	}
	#production .bar{
		margin: 10px auto;
		background: #f07675;
		width: 100px;
	}
	#production .list{
		width: 420px;
		overflow: hidden;
		margin: 50px auto;
	}
	#production .list li{
		float: left;
		margin-right: 10px;
	}
	#production .list li a{
		font-size: 20px;
		padding: 0 15px;
		color: #718a80;
	}
	#production .list li a:hover{
		color: #f2f2f2;
	}
	#production .list li a.active{
		color: #fff;
	}
	#production .proContent{
		width: 100%; height: 400px;
		background: #fff;

	}
	.proContent .images{
		display: none;
	}
	.proContent .show{
		display: block;
	}
	.proContent a{
		display: block;
		width: 49%; height: 350px;
		float: left;
		overflow: hidden;
		position: relative;
		margin-top: 60px;
	}
	.proContent a>img{
		width: 100%; height: 100%;
	}
	.proContent a:nth-child(2){
		float: right;
	}
	.proContent .lay{
		width: 100%; height: 100%;
		text-align: center;
		background: rgba(33,33,33,0.7);
		position: absolute;
		left: 0; top: -100%;
		transition: 0.3s ease;
	}
	.proContent .lay span{
		display: block;
		width: 50px; height: 50px;
		background:#ef7674 url("../images/link.png") no-repeat center center;
		border-radius: 50%;
		position: absolute;
		left: 50%; top: 50%;
		margin-left: -25px;
		margin-top: -25px;
	}
	.proContent .lay p{
		color: #fff;
		font-size: 14px;
		margin-top: 260px;
	}
	.proContent a:hover .lay{
		top:0;
	}
	.proContent .douban a{
		width: 425px;
		float: left;
	}
	.proContent .douban a:nth-child(3){
		float: right;
	}
	.proContent .douban a:nth-child(2){
		margin-left: 35px;
		margin-right: 35px;
	}
/* production end*/


/* contact */
	#contact{
		width: 100%; height: 600px;
		background: #f0f0d6;
		text-align: center;
		color: #555;
		padding-top: 50px;
	}
	#contact>h1{
		font-size: 3.5em;
		line-height: 2em;
	}
	#contact>h2{
		font-weight: normal;
		font-size: 14px;
		line-height: 3em;
	}
	#contact .bar{
		width: 0;
		margin: 10px auto;
		transition: all 0.6s ease;
	}
	#contact:hover .bar{
		width: 60%;
	}
	.contactContent{
		width: 100%; height: 400px;
	}
	.contactLeft{
		width: 40%; height: 100%;
		overflow: hidden;
		float: left;
		border-right: 1px dashed #aaa;
	}
	.contactLeft dl{
		width: 230px;
		margin: 70px auto;
		text-align: left;
	}
	.contactLeft dt{
		font-weight: bold;
		font-size: 22px;
		line-height: 40px;
	}
	.contactLeft dd{
		font-size: 14px;
		line-height: 30px;
	}
	.contactLeft dd span{
		display: inline-block;
		width: 20px; height: 20px;
	}
	.contactLeft dd span img{
		width: 100%; height: 100%;
	}
	.contactRight{
		width: 59%; height: 100%;
		padding-top: 70px;
		text-align: left;
		box-sizing: border-box;
		padding-left: 150px;
		float: right;
	}
	.contactRight p{
		margin-top: 12px;
	}
	.contactRight h1{
		font-size: 2em;
	}
	.contactRight input[type=text]{
		height: 30px; width: 300px;
		border: 1px solid #ccc;
		background: #f0f0d6;
		text-indent: 1em;
	}
	.contactRight input.text{
		height: 100px;
	}
	.contactRight input[type=button]{
		height: 45px; width: 110px;
		border: 3px solid #caaf78;
		background: #f5f5f5;
		color: #caaf78;
		font-size: 18px;
		font-weight: bold;
		cursor: pointer;
		margin-left: 190px;
	}
	.contactRight input[type=button]:hover{
		background: #caaf78;
		color: #fff;
	}
/* contact end*/


/* footer */
	footer{
		width: 100%; height: 100px;
		text-align: center;
		color: #555;
		font-size: 20px;
		line-height: 100px;
		border-top: 1px dashed #aaa;
	}
/* footer end*/